body {
  overflow-y: auto;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: Anta;
  src: url(/Bem_practice/utilities/Anta-Regular.ttf);
}
h4 {
  font-family: Anta;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-transform: uppercase;
}

.header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  margin-left: 160px;
}
.header__items {
  font-size: 30px;
  margin-left: 25%;
  color: aliceblue;
  display: flex;
  gap: 30px;
}
.header__btn {
  margin-left: -271%;
  background: var(--archive-primary-pink-100, #ff00ab);
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  height: 56px;
  position: relative;
  color: #ffffff;
  text-align: left;
  font-family: var(--button-label-bold-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--button-label-bold-font-size, 14px);
  font-weight: var(--button-label-bold-font-weight, 700);
  text-transform: uppercase;
  position: relative;
}

body {
  overflow-y: scroll;
  text-decoration: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: os;
  src: url(/utilities/Roboto-Bold.ttf);
}
.hero {
  height: 950px;
  overflow-x: hidden;
  display: flex;
  background-color: black;
  width: 100%;
  margin-top: -10px;
  overflow-y: auto;
}
.hero__deatil {
  margin-top: 101px;
}
.hero__lovefood {
  z-index: 2;
  margin-left: 100px;
  padding-left: 22px;
  background: #cdef99;
  color: #000000;
  text-align: left;
  font-family: var(--mobile-headings-display-font-family, "Raleway-ExtraBold", sans-serif);
  font-size: var(--mobile-headings-display-font-size, 72px);
  font-weight: var(--mobile-headings-display-font-weight, 800);
  position: relative;
  align-self: stretch;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hero__itsinflavour {
  padding-left: 16%;
  color: #ffffff;
  text-align: left;
  font-family: var(--mobile-headings-display-font-family, "Raleway-ExtraBold", sans-serif);
  font-size: var(--mobile-headings-display-font-size, 72px);
  font-weight: var(--mobile-headings-display-font-weight, 800);
  position: relative;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hero__txt {
  margin-top: 16px;
  margin-left: 100px;
  color: #ffffff;
  text-align: left;
  font-family: var(--body-large-medium-font-family, "Montserrat-Medium", sans-serif);
  font-size: var(--body-large-medium-font-size, 25px);
  line-height: var(--body-large-medium-line-height, 24px);
  font-weight: var(--body-large-medium-font-weight, 500);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hero__date {
  margin-top: 16px;
  margin-left: 100px;
  color: #ffffff;
  text-align: left;
  font-family: var(--body-xl-bold-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--body-xl-bold-font-size, 20px);
  line-height: var(--body-xl-bold-line-height, 28px);
  font-weight: var(--body-xl-bold-font-weight, 700);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hero__register-now {
  margin-top: 16px;
  margin-left: 100px;
  width: 380px;
  background: var(--archive-primary-pink-100, #ff00ab);
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  height: 56px;
  position: relative;
  color: #ffffff;
  text-align: left;
  font-family: var(--button-label-bold-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--button-label-bold-font-size, 14px);
  font-weight: var(--button-label-bold-font-weight, 700);
  text-transform: uppercase;
  position: relative;
  margin-right: 80%;
}
.hero__EXH {
  margin-left: 100px;
  width: 375px;
  margin-top: 16px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 3px;
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  height: 56px;
  position: relative;
  color: #ffffff;
  text-align: left;
  font-family: var(--button-label-bold-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--button-label-bold-font-size, 14px);
  font-weight: var(--button-label-bold-font-weight, 700);
  text-transform: uppercase;
  position: relative;
}
.hero__follow-us {
  margin-top: 40px;
  margin-left: 235px;
  margin-right: 86px;
  color: #ffffff;
  text-align: center;
  font-family: var(--body-small-bold-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--body-small-bold-font-size, 12px);
  line-height: var(--body-small-bold-line-height, 19px);
  font-weight: var(--body-small-bold-font-weight, 700);
  position: relative;
  width: 156px;
}
.hero__social-icon-div {
  margin-left: 165px;
  margin-top: 16px;
}
.hero__footer {
  background: #343a33;
  height: 200px;
  position: relative;
}
.hero__img {
  margin-left: 129px;
}

.footer {
  margin-top: -24px;
  background: #343a33;
  width: 100%;
  height: 116px;
  position: relative;
  align-items: center;
  justify-content: center;
  aspect-ratio: 4/4;
}
.footer__logo1 {
  margin-left: 50px;
}
.footer__logo2 {
  margin-left: 50px;
}
.footer__logo3 {
  margin-left: 50px;
}
.footer__logo4 {
  margin-left: 50px;
}
.footer__logo5 {
  margin-left: 50px;
}

@font-face {
  font-family: protest;
  src: url(/utilities/ProtestRevolution-Regular.ttf);
}
@font-face {
  font-family: fen;
  src: url(/utilities/Fredoka-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: robot;
  src: url(/utilities/Roboto-Black.ttf);
}
.about {
  background-color: black;
}
.about__title-div {
  margin-left: 26%;
  display: flex;
}
.about__title {
  font-family: fen;
  font-size: 55px;
  -webkit-text-stroke: 2px white;
}
.about__title-sufix {
  margin-left: 10px;
  font-family: fen;
  font-size: 55px;
  background-color: #7f8765;
  color: white;
}
.about__txt-div {
  margin-left: 20%;
  margin-right: 24%;
}
.about__txt {
  font-family: robot;
  color: white;
}
.about__info-div {
  gap: 116px;
  margin-left: 292px;
  display: flex;
}
.about__info-num {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.about__info-heading {
  margin: 6px 0 0 0;
  color: var(--archive-tint-40-dark-green-40, #99e099);
  text-align: left;
  font-family: var(--body-large-semi-bold-font-family, "Montserrat-SemiBold", sans-serif);
  font-size: var(--body-large-semi-bold-font-size, 16px);
  line-height: var(--body-large-semi-bold-line-height, 24px);
  font-weight: var(--body-large-semi-bold-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.about__btn-div {
  margin-top: 60px;
  margin-left: 20%;
}
.about__btn {
  font-size: 22px;
  margin-left: 20%;
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  background: var(--archive-primary-pink-100, #ff00ab);
  border-radius: 13px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: robot, sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}
.about__btn:hover {
  text-transform: none;
  border-color: rgb(255, 255, 255);
}/*# sourceMappingURL=index.css.map */