.footer {
  background: #343a33;
  width: 1440px;
  height: 116px;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  &__logo1
  {
    margin-left: 50px;
  }
  &__logo2
  {
    margin-left: 50px;
  }
  &__logo3
  {
    margin-left: 50px;
  }
  &__logo4
  {
    margin-left: 50px;
  }
  &__logo5
  {
    margin-left: 50px;
  }
}