.footer {
  margin-top: -24px;
  background: #343a33;
  width: 100%;
  height: 116px;
  position: relative;
  align-items: center;
  justify-content: center;
  aspect-ratio: 4 / 4;
  &__logo1
  {
    margin-left: 50px;
  }
  &__logo2
  {
    margin-left: 50px;
  }
  &__logo3
  {
    margin-left: 50px;
  }
  &__logo4
  {
    margin-left: 50px;
  }
  &__logo5
  {
    margin-left: 50px;
  }
}